@import "scss-components/boilerplate";
@import "scss-components/colors";
@import "scss-components/function";
@import "scss-components/mixin";

@import "scss-components/header";
@import "scss-components/main-section";


.body{
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.startagain{
  width: fit-content;
  background-color: $tag-color;
  color: $white-color;
  padding: 10px 20px;
  margin: 0 auto;
}
.startagain:hover{
  cursor: pointer;
}
.hideIcon{
  visibility: hidden;
}

.showIcon{
  display:block !important;
}

.displayNone{
  display: none !important;
}

.transition-sectionMainElement{
  transform: translateY(300px) !important;
}
.transition-sectionMainElementUP{
  transform: translateY(
    0px) !important;
}