.section{
  height: calc(100vh - pxtorem(80px));
 

 position: relative;
  &__main{
    scroll-behavior: smooth;
   @include flexColumn(flex-start,flex-end);
    transition: all 0.5s ease;
   gap: pxtorem(10px);
    position: absolute;
    bottom: 15px;
    right: 15px;
    &__top{
   
      @include flexColumn(flex-start,flex-end);
      gap: pxtorem(10px);
      &--detail{
        background-color: $white-color;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: pxtorem(250px);
        padding: pxtorem(10px) pxtorem(10px);
        transition: box-shadow 0.3s, opacity 0.3s;
      }
      &--detail:hover{
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.17);
        cursor: pointer;
      }
        .icon--cross{
      scale: 1.1;
      opacity: 0; 
      transition: opacity 0.3s ease; 
    }
    }
    &__top:hover .icon--cross{
      opacity: 1;
      cursor: pointer;
 }
  
   
   &--img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
   }
   &--img:hover{
    cursor: pointer;
    filter: brightness(1.7);
   }
  }
  &__chatbox{
    background-color: $white-color;

    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);

    transform: translateY(700px);

    width:370px ;
    height: 80vh;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.5s;
    @media (min-width: 800px) {
     height: 90vh;
    }
    .top{
      @include flexRow(space-between);
      background-color: $white-color;
      padding: pxtorem(17px) pxtorem(17px);
      
      &__left{
        @include flexRow(flex-start,center);
        gap: pxtorem(20px);
       
        &__imgBox{
          position: relative;
          &--img{
            width: 55px;
            height: 55px;
            border-radius: 50%;
          }
          &--live{
            position: absolute;
            right: 0;
            bottom: pxtorem(10px);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color:$live-color;
            border: 1px solid $white-color;
           
          }
        }
        &__chatHead{
          padding-bottom: pxtorem(5px);
          line-height: 1;
          &--chatbot{
            padding-bottom: pxtorem(3px);
            font-size: pxtorem(25px);
          }
          &--online{
            color: gray;
          }
        }
      }
      &__right:hover{
        cursor: pointer;
      }
    }
    .middle{
      scroll-behavior: smooth;
      height: 65%;
      max-height: 65% ;
      overflow-y: auto;
      padding: pxtorem(25px) pxtorem(25px);
      background-color:$middle-color;
      @include flexColumn();
      border-top: 1px solid rgb(206, 203, 203);
      gap: pxtorem(15px);
      &__top{
        @include flexColumn();
        gap: pxtorem(10px);
        &__imgBox{
          @include flexRow();
          gap:pxtorem(6px);
          &--img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
        }
        &--head1{
          background-color: $white-color;
          padding: pxtorem(10px) pxtorem(15px);
          border-radius: 15px 15px 15px 0px;
          width: fit-content;
        }
        &--head2{
          background-color: $white-color;
          padding: pxtorem(15px) pxtorem(15px);
          border-radius: 0px 15px 15px 15px;
          width: fit-content
        }
      }
         &__bottom{
       
          @include flexColumn(center,center);
          gap:pxtorem(10px);
          .temptime{
            @include flexRow();
            gap:7px
          }
          .tag ,  .second-tag {
            background-color: $white-color;
            border: 1px solid $tag-color;
            color: $tag-color;
            width: fit-content;
            font-size: pxtorem(16.6px);
            font-weight: 600;
            line-height: 20px;
            border-radius: 50px;
            padding: pxtorem(5px) pxtorem(15px);
          }
          .tag:hover{
            cursor: pointer;
          }
         }
         &__message{
          @include flexColumn();
          gap:pxtorem(15px);
          &__input{

            @include flexColumn(flex-end,flex-end);
            gap:pxtorem(7px);
            &--temp{
              background-color: $tag-color;
              border: 1px solid $tag-color;
              color: $white-color;
              width: fit-content;
              font-size: pxtorem(17px);
              font-weight: 500;
              border-radius: 15px 15px 0px 15px;
              padding: pxtorem(10px) pxtorem(15px);
            }
          }
          &__chatMssge{
            @include flexColumn();
            gap: pxtorem(10px);
            .chatwithImage{
              @include flexRow();
              gap:pxtorem(5px);
              &--image{
                width: 20px;
                height: 20px;
                border-radius: 50%;
              }
            
            }
            .detail{
              background-color: $white-color;
              width: fit-content;
      padding: 15px;
      border-radius: 17px;
    border-bottom-left-radius: 0px;
            }
            .allbuttons{
              @include flexRow(center,center);
              gap: 10px;
              .singleButton{
                padding: pxtorem(5px) pxtorem(15px);
                border: 1px solid $tag-color;
                background-color: $white-color;
                border-radius: 10px;
                color: $tag-color;
              }
              .singleButton:hover{
                cursor: pointer;
              }
            }
          }
        }
    }
    .inputBox{
      background-color: $white-color;
      padding: pxtorem(11px) pxtorem(25px);
      @include flexRow(space-between,center);
  
      &--input{
        width: 70%;
      }
      &--input::placeholder{
        font-size: pxtorem(15px);
      }
      &--search:hover{
        cursor: pointer;
      }
      &--search--icon{
        width: pxtorem(25px);
        height: pxtorem(25px);
      }
    }
    .bottom{
      


      background-color: $white-color;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid rgb(238, 238, 238);
      background-color: rgb(249, 249, 249);
      height: 35px;
   
      &--copyright{
        color: rgb(155, 166, 179);
      }
      &--chatbot{
        color: $tag-color;
        padding-left: 5px;
      }
    }
  
  }

}